.address_field_outter_container
{
	width:100%;
}

.form_container
{
	display:block;
	width:90%;
	margin-left: auto;
	margin-right: auto;
	border-style:solid;
	border-width: 1px;
	border-color: black;
	height:700px;
	padding:10px;

	-moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
     box-sizing: border-box;
}
.field_outter_container
{
	margin-top:10px;
	display:inline-block;
	vertical-align: top;
	width: 100% !important;
}
.form_button_container
{
	margin-top:20px;
	display:block;
	width:100%;
}

.form_submit_button
{
	display:block;
	margin-left: auto;
	margin-right: auto;
	width:200px;
	height:50px;
	font-weight: bold;
	font-size:14pt;
	border-color: white;
	border-width:3px;
	border-style:solid;
	color:white;
	background-color: green;
}

.form_submit_button:hover
{
	border-color: orange;
	cursor: pointer; 
	cursor: hand;
}

.form_footer
{
	margin-top:20px;
	font-size:8pt;
}

.form_field_side_label
{
	display:inline-block;
	width:27%;
}

.from_field_right_side
{
	display:inline-block;
	width:70%;
}

.form_field_above_label
{
	display:block;
	width:100%;
}

.form_field_input
{
	display:block;
	width:90%;
	max-width: 280px;
	margin-left: 10px;
margin-top: 5px;
}

.form_field_status
{
	width:100%;
	height:20px;
	padding-left: 10px;
padding-top: 5px;
}

.form_status_symbol
{
display:none !important;
margin-right: 10px;
}

.valid_status
{
	color:green !important;
}

.invalid_status
{
	color:red !important;
}
.form_field_container
{
	vertical-align: top;
}


.same_line_label
{
 display: inline-block;
float: left;
clear: left;
width: 100px;
}