#pvt_setup_container {
    margin-top: 30px;
    width: 100%;
    padding: 20px;
    background-color: white;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 800px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#cardiff_logo
{
    width:80px;
    float:right;
}

#school_banner
{
    width:100%;
    display:inline-block;
}

#PVT_setup_submit
{
    margin-top:20px;
}




@media screen and (max-width: 500px) {
    h2
    {
      font-size:100%;
    }

    body
    {
        padding-top:10px !important;
        background-color: white !important;
    }

}
